<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="businessTestDao">
    <delete id="deleteData">
        DELETE   FROM   business_test
    </delete>
    <delete id="deleteDataByMonth">
        delete  from business_test_bak WHERE bak_year = #{year}  AND bak_month = #{month}
    </delete>
    <delete id="bakUpData">
        INSERT INTO business_test_bak(field1,field2,field3,bak_year,bak_month,bak_time) SELECT field1,field2,field3,#{year},#{month},#{date} from business_test;
    </delete>
</mapper>
